/*********************
*
* Author: Caylene
* Date: 1/8/2019
*
**********************/

/*style all P tags */

p{
    font-size: 12px !important;
    color: blue;
    font-family: arial;
    font-weight: bold;
}

#header p {
    font-size: 24px;
}

/*style all header tags */
h1 {
    font-size: 44px;
}

a {
    text-decoration:underline;
    color: blue;
}

span {
    text-transform: uppercase;
}

div {
    width: 100%;
    background-color: grey;

}

#content-header {
    font-size: 18px;
    color: red;
}

span {
    display: block;
    color: blue;
}

.deck{
    color: red;
}


li:nth-child(2n+1){
    font-weight: bold;
}